@import '../../../../styles/variables';

.accordian-body {
    background-color: #fff;
    padding: 1rem;
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.mqaccordionItem-custom .accordion-button::after {
    display: none;
}
