.description-body {
    background-color: #fff;
    padding: 1rem;
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.desc-img {
    width:75%;
    height: 75%;
    margin: 20px;
    border-radius: 5px;
}